.calc{
    float: left;
    position: relative;
    background-color: #d7e3bd;
    margin: 30px;
    border-radius: 30px;
    height: 350px;
    width: 200px;
    border: 1px solid black;
}

.button{
    height: 34px;
    width: 34px;
    background-color: #3f3152;
    border-radius: 50%;
    position: absolute;
    border: 1px solid black;
}

.screen{
    background-color: white;
    border-radius: 30px;
    height: 170px;
    width: 170px;
    border: 1px solid black;
}
#screen-tran p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#screen-position{
    position: relative;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
}
#screen-position p{
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 55px;
}
#btn1-pos{
    left:30px;
    top: 200px;
}
#btn2-pos{
    left:83px;
    top: 200px;
}
#btn3-pos{
    left:136px;
    top: 200px;
}
#btn4-pos{
    left:30px;
    top: 247px;
}
#btn5-pos{
    left:83px;
    top: 247px;
}
#btn6-pos{
    left:136px;
    top: 247px;
}
#btn7-pos{
    left:30px;
    top: 295px;
}
#btn8-pos{
    left:83px;
    top: 295px;
}
#btn9-pos{
    left:136px;
    top: 295px;
}

#screen-tran{
    transform: translate(7.5%, 7.5%)
}

#btn1-tran{
    transform: translate(30px, 27px)
}

#btn2-tran{
    transform: translate(83px, 27px)
}

#btn3-tran{
    transform: translate(136px, 27px)
}
#btn4-tran{
    transform: translate(30px, 74px)
}

#btn5-tran{
    transform: translate(83px, 74px)
}

#btn6-tran{
    transform: translate(136px, 74px)
}

#btn7-tran{
    transform: translate(30px, 121px)
}

#btn8-tran{
    transform: translate(83px, 121px)
}

#btn9-tran{
    transform: translate(136px, 121px)
}